@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Rubik:wght@300;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
main{
  margin: 30px 3%;
  ;
}
h1{
  font-family: 'Rubik', sans-serif;
}
p{
  font-family: 'Roboto', sans-serif;
}
.back{
  margin: 10px 0;
}
.back a{
  display: flex;
  align-items: center;
  width: 250px;
}
.back a h1{
 font-size: 20px;
 margin-left: 10px;
 color: #000;
}